<section class="section-projects">
  <ul class="projects-showcase clearfix">
      <li>
          <figure class="proj-desc">
              <h5>OShop</h5>
              <p>An organic shop designed and developed with Angular and Firebase.</p>
              <a href="https://oshop-42fc1.firebaseapp.com/">view app</a>
          </figure>
      </li>
      <li>
          <figure class="proj-desc">
              <h5>US citizenship exam challenge - New</h5>
              <p>This app was created as part of learning javascript and html.</p>
              <a href="http://psj01.github.io/n400Exam/">view app</a>
          </figure>
      </li>
      <li>
          <figure class="proj-desc">
            <h5>Omni Foods</h5>
            <p>Omni Foods designed and created for the course "Design and Develop a Killer Website Using HTML5 and CSS3".</p>
            <a href="http://psj01.github.io/omnifood/">view app</a>
          </figure>
      </li>
      <li>
          <figure class="proj-desc">
              <h5>Pig Game</h5>
              <p>This is a fun game designed and developed using javascript, html and css.</p>
              <a href="http://psj01.github.io/pigGame/">view app</a>
          </figure>
      </li>
  </ul>
  <ul class="projects-showcase clearfix">
      <li>
          <figure class="proj-desc">
              <h5>Budget App</h5> 
              <p>This app was created as part of a complete javascript course on Udemy.</p>
              <a href="http://psj01.github.io/budgetApp/">view app</a>
          </figure>
      </li>
      <li>
          <figure class="proj-desc"> 
              <h5>US citizenship exam challenge - old version</h5>
              <p>This app was created as part of learning javascript and html. - this is an older version of it.</p>
              <a href="http://psj01.github.io/n400Exam_OldVersion/">view app</a>
          </figure>
      </li>
      <li>
          <figure class="proj-desc">
              <h5>NIU student page</h5>
              <p>My student page while I was at NIU.</p>
              <a href="http://students.cs.niu.edu/~z1262764/">view app</a>
          </figure>
      </li>
      <li>
          <figure class="proj-desc">
              <h5>To Do List</h5>
              <p>This app was created while learning angularJS.</p>
              <a href="http://psj01.github.io/toDoList/">view app</a>
          </figure>
      </li>
  </ul>
  <ul class="projects-showcase clearfix">
    <li>
        <figure class="proj-desc">
            <h5>Coming soon...</h5>
            <p>I'm always working on new stuff as I learn new things.  Check back for more...</p>
        </figure>
    </li>
  </ul>
</section>