<section class="section-connect">
  <ul class="connect-showcase clearfix">
      <li>
          <figure class="connect-desc">
            <p>
              <a href="https://www.linkedin.com/pub/jobin-scaria/12/84b/4a0" id="linkedIn" target="_blank" class="social-btn"><i class="fa fa-linkedin fa-lg"></i>LinkedIn</a>              
            </p>
          </figure>
      </li>
      <li>
          <figure class="connect-desc">
              <p>
                <a href="https://github.com/psj01" id="github" target="_blank" class="social-btn"><i class="fa fa-github fa-lg"></i>GitHub</a>                
							</p>
          </figure>
      </li>
      <li>
          <figure class="connect-desc">
            <p>
              <a href="https://stackoverflow.com/users/3377344/psj01" id="stackOverflow" target="_blank" class="social-btn"><i class="fa fa-stack-overflow fa-lg"></i>Stack Overflow</a>              
            </p>
          </figure>
      </li>
  </ul>
  <ul class="connect-showcase clearfix">
      <li>
          <figure class="connect-desc">
              <p>
                <a href="https://medium.com/@psjobin" id="medium" target="_blank" class="social-btn"><i class="fa fa-medium fa-lg"></i>Medium</a>                
							</p>
          </figure>
      </li>
      <li>
          <figure class="connect-desc">               
              <p>
                <a href="https://codepen.io/psj01/" id="codepen" target="_blank" class="social-btn"><i class="fa fa-codepen fa-lg"></i>Codepen</a>                
							</p>
          </figure>
      </li>
      <li>
          <figure class="connect-desc">
              <p>
                <a href="https://instagram.com/psjobin" id="instagram" target="_blank" class="social-btn"><i class="fa fa-instagram fa-lg"></i>Instagram</a>                
							</p>
          </figure>
      </li>
  </ul>
</section>